<!DOCTYPE html>
<html>
<head>
  <!-- Add any required CSS or scripts here -->
</head>
  <body class="body">
    <div class="search">
      <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
      </form>  
    </div>
     <div class="container" *ngIf="weatherData"> 
      <div class="upper-data">
        <img src="../assets/img/day_sunlight.png" alt="day_sunlight" *ngIf="weatherData.current.temp_f >= 65">
        <img src="../assets/img/night.png" alt="night" *ngIf="weatherData.current.temp_f <= 65">
        <div class="weather-data">
          <div class="location">{{weatherData.location.name}}</div>
          <div class="temperature">{{ roundUp(weatherData.current.temp_f) }}°F</div>
        </div>
      </div>

      <div class="lower-data">
        <div class="more-info-lable">
          More Information   
        </div>
        <table class="more-info-container">
          <tr class="info-block">
            <td class="info-block-lable">
              <img src="../assets/img/feelslike.png" alt="feelslike">
              <span>feelslike</span>
            </td>
            <td class="info-block-value">
              {{roundUp(weatherData.current.feelslike_f)}}°F
            </td>
          </tr>
          <tr class="info-block">
            <td  class="info-block-lable">
              <img src="../assets/img/UV.png" alt="UV">
              <span>condition</span>
            </td>
            <td class="info-block-value">
              {{weatherData.current.uv}}
            </td>
          </tr>
          <tr class="info-block">
            <td  class="info-block-lable">
              <img src="../assets/img/humidity.png" alt="humidty">
                <span>humidity</span>
            </td>
            <td class="info-block-value">
              {{weatherData.current.humidity}}% 
            </td>
          </tr>
          <tr class="info-block">
            <td  class="info-block-lable">
              <img src="../assets/img/wind.png" alt="wind">
              <span>wind</span>
            </td>
            <td class="info-block-value">
              {{weatherData.current.wind_dir}} {{roundUp(weatherData.current.wind_mph)}} mph
            </td>
          </tr>
        </table>
        </div>
      </div>
  </body>
</html>
